<div fxLayout.xs="column" fxLayoutGap="5px" fxLayoutAlign="center">
  <div fxLayout.xs="row" fxLayoutGap="5px">
    <div fxFlex="100%" fxLayoutAlign="center" (click)="onClick(0)">
        <app-large-button [iconName]="'settings'" [btnLabel]="'SETTING'"></app-large-button>
    </div>
    <div fxFlex="100%" fxLayoutAlign="center" (click)="onClick(1)">
      <app-large-button [iconName]="'credit_card'" [btnLabel]="'BILLS'"></app-large-button>
    </div>
  </div>

  <div fxLayout.xs="row" fxLayoutGap="5px">
    <div fxFlex="100%" fxLayoutAlign="center" (click)="onClick(2)">
      <app-large-button [iconName]="'shopping_basket'" [btnLabel]="'CHORES'"></app-large-button>
    </div>
    <div fxFlex="100%" fxLayoutAlign="center" (click)="onClick(3)">
      <app-large-button [iconName]="'today'" [btnLabel]="'NEXT'"></app-large-button>
    </div>
  </div>
</div>

<div fxLayout.lt-lg="column" fxLayout.lt-xl="column" fxLayoutAlign="center" fxLayoutGap="10px">
  <div fxFlex="100%" fxLayoutAlign="center">
      <div fxLayoutAlign="center" style="padding-top:5px;">
        <span class="iconStyle" fxLayoutAlign="center">Today:&nbsp;</span> 
        <span class="todayDateStyle">{{todayDate() | date:'MM/dd/yyyy'}}</span>
      </div>
  </div>
  <div fxFlex="100%" fxLayoutAlign="center">
      Upcoming Bills
  </div>
  <div fxFlex="100%" fxLayoutAlign="center">
      Upcoming Chores
  </div>
</div>
