#roundDiv {
    border-radius: 10px;
    background: #73AD21;
    padding: 20px; 
    width: 120px; 
}

.iconStyle {
    text-align:center; 
    font-size:40px;
}

.linkStyle {
    text-align:center;
    text-decoration: none;
    font-size: 25px;
}

.buttonStyle {
    padding-top:10px; 
    padding-bottom:10px;
}