<div fxLayout.xs="row" fxLayout.lt-lg="row" fxLayout.lt-xl="row" fxLayoutGap="5px" fxLayoutAlign="center">
  <div (click)="back()" class="material-icons backArrow">
      keyboard_backspace
  </div>
  <div class="billHeaderlabelStyle">
    {{'Bill Management' | uppercase}}
  </div>
</div>

<div fxLayout.xs="column" fxLayout.lt-lg="column" fxLayout.lt-xl="column" fxLayoutGap="5px" fxLayoutAlign="center">
  <div class="billSubHeaderlabelStyle">{{'Add Bill' | uppercase}}</div>
  <div class="billFormContainer">
    <form (ngSubmit)="addBill(addBillForm)" #addBillForm="ngForm" fxLayout="column">
      <mat-form-field>        
        <input name="billName" type="text" id="billName" ngModel matInput placeholder="Bill Name">
      </mat-form-field>
      <mat-form-field>
        <input name="dueDate" id="dueDate" ngModel matInput [matDatepicker]="dp3" placeholder="Due date" readonly>
        <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
        <mat-datepicker #dp3 disabled="false"></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Bill category" ngModel name="category">
          <mat-option *ngFor="let category of getCategories()" [value]="category.value">
            {{category.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>        
        <input name="bilAmount" type="number" id="bilAmount" ngModel matInput placeholder="Bill Amount">
      </mat-form-field>
      <mat-form-field>        
          <input name="company" type="text" id="company" ngModel matInput placeholder="Company">
        </mat-form-field>
      <div fxFlexAlign="end">
          <button mat-raised-button color="primary" type="submit">Add Bill</button>
      </div>
    </form>
  </div>
</div>