<mat-sidenav-container class="navcontainer">
    <mat-sidenav #sidenav style="width:40%">
        <div fxLayout="column" fxLayoutGap="5%">
            <div (click)="sidenav.toggle()" class="material-icons hamburgerMenu"><span class="pointer">menu</span></div>
            <div fxLayout="row">
                <div fxLayout="row" (click)="back()" class="pointer">
                    <div class="material-icons">home</div>
                    <div style="padding-top:5px;">HOME</div>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div fxLayout="row">
                <div fxLayout="row" (click)="goToMenuItem(0)" class="pointer">
                    <div class="material-icons">account_circle</div>
                    <div style="padding-top:5px;">PROFILE</div>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div fxLayout="row">
                <div fxLayout="row" (click)="goToMenuItem(1)" class="pointer">
                    <div class="material-icons">credit_card</div>
                    <div style="padding-top:5px;">BILLS</div>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div fxLayout="row">
                <div fxLayout="row" (click)="goToMenuItem(2)" class="pointer">
                    <div class="material-icons">shopping_basket</div>
                    <div style="padding-top:5px;">CHORES</div>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div fxLayout="row">
                <div fxLayout="row" (click)="goToMenuItem(3)" class="pointer">
                    <div class="material-icons">today</div>
                    <div style="padding-top:5px;">HUNI-TODO</div>
                </div>
            </div>
            <mat-divider></mat-divider>
        </div>
    </mat-sidenav>

    <mat-sidenav-content>
        <div fxLayout="row" fxLayoutGap="30%">
            <div (click)="sidenav.toggle()" class="material-icons hamburgerMenu"><span class="pointer">menu</span></div>
            <header-title [headerTitle]="'Settings'"></header-title>
        </div> 
    </mat-sidenav-content>
</mat-sidenav-container>