<mat-sidenav-container class="navcontainer">
    <mat-sidenav #sidenav style="width:40%">
        <div fxLayout="column" fxLayoutGap="5%">
            <div (click)="sidenav.toggle()" class="material-icons hamburgerMenu"><span class="pointer">menu</span></div>
            <div *ngFor="let component of components">
                <div fxLayout="row">
                    <div fxLayout="row" (click)="loadMenuItem(component.id)" class="pointer">
                        <div class="material-icons">{{component.icon}}</div>
                        <div style="padding-top:5px;">{{component.label}}</div>
                    </div>
                </div>
                <mat-divider></mat-divider>
            </div>
        </div>
    </mat-sidenav>

    <mat-sidenav-content>
        <div fxLayout="row" fxLayoutGap="30%">
            <div (click)="sidenav.toggle()" class="material-icons hamburgerMenu"><span class="pointer">menu</span></div>
            <header-title [headerTitle]="'Settings'"></header-title>
        </div> 
        <div fxLayout="column">
            <app-breadcrumb (click)="back()"></app-breadcrumb>
        </div>
        <div fxLayout="column">
            <app-dynamic-menu-item [componentData]="componentData"></app-dynamic-menu-item>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>