.availableBillHeader {
    font-size: 20px;
    margin-top: 15px;
    padding: 10px;
    background: #4D4D4D;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #ffffff;
    font-size: 18px;
    font-weight: 100;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.availableBillBody {
    font-family: 'Open Sans Condensed', arial, sans;
    background: #FFFFFF;
    padding: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.number {
    background: #73AD21;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 15px 15px 15px 0px;
}

.availableBillError {
    border-style: solid;
    border-radius: 5px;
    margin-bottom: 10px;
    border-color: red;
    border-width: thin;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

.availableListNumber {
    background: #4D4D4D;
    padding: 1px 5px 1px 5px;
    margin-right: 5px;
    border-radius: 3px;
    color: white;
}

.availableBillDueDate {
    margin-right: 10px;
}

.availableBillDueDateHeader {
    margin-left: 40px;
    font-weight: bold;
}

.availableBillNameHeader {
    margin-left: 20px;
    font-weight: bold;
}

.availableBillItem {
    cursor: pointer;
}

/* mat-list-item:hover {
    background-color: #73AD21;
} */